/* src/components/AlumnosCard/AlumnosCard.module.css */

/* Tarjeta de alumno */
.student-card {
  background-color: var(--color-bg-2);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.student-card:hover {
  transform: translateY(-5px);
}

/* Imagen o avatar del alumno */
.student-avatar {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Nombre del alumno */
.student-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Descripción o frase */
.student-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--color-typography-2);
}

/* Botón para ir al informe */
.student-button {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary-1);
  color: var(--color-typography-1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.student-button:hover {
  background-color: var(--color-primary-2);
}

/* RESPONSIVIDAD */
@media (max-width: 767.98px) {
  .student-card {
    padding: 0.75rem;
  }
  .student-avatar {
    height: 150px;
    width: 150px;
  }
  .student-name {
    font-size: 1.3rem;
  }
  .student-description {
    font-size: 0.9rem;
  }
  .student-button {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
